
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="white-text mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to raw("<i class='mdi-social-person left'></i>") + @current_user.name, @current_user, class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Mi perfil' } %></li>
      <li><%= link_to raw("<i class='mdi-communication-vpn-key'></i>"), change_password_path(@current_user), class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Cambiar contrase침a' } %></li>
      <li><%= link_to raw("<i class='mdi-action-settings'></i>") , edit_user_path(@current_user), class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Configuraci칩n' } %></li>
      <li><%= link_to raw("<i class='mdi-action-settings-power'></i>"), signout_path, method: "delete", class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Salir' } %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to raw("<i class='mdi-social-person left'></i>") + @current_user.name, @current_user, class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Mi perfil' } %></li>
      <li><%= link_to raw("<i class='mdi-communication-vpn-key'></i>"), change_password_path(@current_user), class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Cambiar contrase침a' } %></li>

      <li><%= link_to raw("<i class='mdi-action-settings'></i>") , edit_user_path(@current_user), class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Configuraci칩n' } %></li>
      <li><%= link_to raw("<i class='mdi-action-settings-power'></i>"), signout_path, method: "delete", class: "tooltipped", :data => { :position => 'bottom', :delay => '50', :tooltip => 'Salir' } %></li>
      </ul>
  </div>
</nav>
