<%= form_for(:user, :url => {:action => 'update_password', :controller=>"users"}) do |f| %>
    <div class="input-field col s12">
      <%= f.label :old_password %>
      <%= f.password_field :old_password, :class => "validate" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "validate" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "validate" %>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    </button>
  <% end %>